/* alt + z so can see all code on screen */
html{
    /* prevents padding from adding extra width to page and adding unwanted scroll bar */
    box-sizing: border-box; 
}

body{
    margin: 0;
    min-height: 100vh;
    background: whitesmoke;
}

h1{
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
    font-size: 40px;
    letter-spacing: 10px;
}

/* Loader */
.loader {
    position:fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgba(255, 255, 255, 0.8); */
}

/* img is child class of loader */
.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) /* x, y axes */
}

/* Image conatiner */
.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top:5px;
}

/* Media query: large smartphone */
@media screen and (max-width: 600px) {
    .image-container {
        margin:10px;
    }
}











